[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/ubench"]
	path = extern/ubench
	url = https://github.com/sheredom/ubench.h.git
